#notes-list
    position: relative
    #notes-list-controls
        border-bottom: 1px solid lightgray
        button
            width: 100%
            height: 40px
        .sort-tabs
            display: flex
            justify-content: space-around
            .tab
                cursor: pointer
            .tab.active
                font-weight: bold

#list-items
    height: calc(100% - 91px)
    overflow: auto
    .note
        padding: 10px
        cursor: pointer
        &:first-child
            border: none
        &:nth-child(even)
            background-color: white
        .header
            font-size: 18px
            margin: 0 0 5px
        .date
            font-size: 12px
            color: lightgray
            margin: 0
        &.active
            background-color: grey
            h2
                color: white
