<div id="notes-list">
    <div id="notes-list-controls">
        <button (click)="addNote()">Add note</button>
        <div class="sort-tabs">
            <p class="tab" (click)="changeTab('name')" [class.active]="tab == 'name'">By name</p>
            <p class="tab" (click)="changeTab('lastModified')" [class.active]="tab == 'lastModified'">By date</p>
        </div>
    </div>
    <div *ngIf="notes != null" id="list-items">
        <div
            *ngFor="let note of (notes | NotesSort: tab)" class="note"
            [class.active]="note.id == currentNote.id"
            (click)="changeCurrentNote(note.id)">
            <h2 class="header">{{note.name}}</h2>
            <p class="date">Created: {{(note.created * 1000) | date:'medium'}}</p>
            <p class="date">Last modified: {{(note.lastModified * 1000) | date:'medium'}}</p>
        </div>
    </div>
</div>
