#notes-list {
  position: relative; }
  #notes-list #notes-list-controls {
    border-bottom: 1px solid lightgray; }
    #notes-list #notes-list-controls button {
      width: 100%;
      height: 40px; }
    #notes-list #notes-list-controls .sort-tabs {
      display: flex;
      justify-content: space-around; }
      #notes-list #notes-list-controls .sort-tabs .tab {
        cursor: pointer; }
      #notes-list #notes-list-controls .sort-tabs .tab.active {
        font-weight: bold; }

#list-items {
  height: calc(100% - 91px);
  overflow: auto; }
  #list-items .note {
    padding: 10px;
    cursor: pointer; }
    #list-items .note:first-child {
      border: none; }
    #list-items .note:nth-child(even) {
      background-color: white; }
    #list-items .note .header {
      font-size: 18px;
      margin: 0 0 5px; }
    #list-items .note .date {
      font-size: 12px;
      color: lightgray;
      margin: 0; }
    #list-items .note.active {
      background-color: grey; }
      #list-items .note.active h2 {
        color: white; }
