#notes-list
    margin: 20px

    .header
        margin: 0 0 5px

    .date
        color: lightgray
        font-size: 12px
        margin: 0

    .content
        margin-top: 20px
        font-size: 12px

#editor
    #editor-header
        font-size: 2em
        font-weight: bold
        width: 100%

.buttons
    padding: 0 0 0 20px
