<div id="notes-list">
    <div [hidden]="isEdit">
        <h1 class="header">{{note.name}}</h1>
        <p *ngIf="note.created" class="date">Created: {{(note.created * 1000) | date:'medium'}}</p>
        <p *ngIf="note.lastModified" class="date">Last modified: {{(note.lastModified * 1000) | date:'medium'}}</p>
        <div class="content" #content></div>
    </div>
    <div [hidden]="!isEdit" id="editor">
        <form>
            <input type="text" id="editor-header" placeholder="Header" name="name" [(ngModel)]="note.name">
            <textarea
                cols="30"
                rows="10"
                class="editor"
                name="content"
                [(ngModel)]="note.content">
            </textarea>
        </form>
    </div>
</div>
<div class="buttons">
    <button (click)="editClick()" [innerHtml]="isEdit ? 'Ok' : 'Edit'">Edit</button>
    <!-- <button *ngIf="isEdit" (click)="cancelClick()">Cancel</button> -->
    <button *ngIf="isEdit" (click)="deleteClick()">Delete</button>
</div>
