<div id="editor">
    <form>
        <input type="text" placeholder="Header" name="name" [(ngModel)]="note.name">
        <textarea
            cols="30"
            rows="10"
            class="editor">
            {{note.content}}
        </textarea>
    </form>
</div>
